<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      >
<head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE">SANA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
</head>
<body >

    <div class="navegacion" xmlns:th="http://www.w3.org/1999/xhtml">

        <div class="nav-content">

            <p>
                No autenticado | <a href="/login" th:href="@{/login}"> Login</a>
            </p>

        </div>


        <div>
            <a href="/">
                <img  class="logo" src="logo3.PNG">
            </a>
        </div>

    </div>

    <div class="contenedor-index">

        <div class="info-index">
            Aqui ira toda la informacion de las areas
        </div>

        <div>
            <a class="btn btn-outline-success" role="button" href="/publico">Information</a></dt>
        </div>


    </div>

</body>

</html>





