<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir nueva reserva</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/nav">...</div>
<div class="add-reservation">
    <h2 class="m-5">Nueva reserva</h2>
    <form action="#" th:action="@{/reservation/add/{area}(area=${areaName})}"
          th:object="${reservation}" method="post">
        <table>
            <tr>
                <td><label>Date</label></td>
                <td><input type="date" th:field="*{date}"/></td>
                <td th:if="${#fields.hasErrors('date')}"  class="error" th:errors="*{date}"></td>
            </tr>

            <tr>
                <td><label>People Number</label></td>
                <td><input type="text" th:field="*{peopleNumber}"/></td>
                <td th:if="${#fields.hasErrors('peopleNumber')}"  class="error" th:errors="*{peopleNumber}"></td>
            </tr>
            <tr>
                <td><label>Hora</label></td>
                <td class="check-list-zones" path="timeslot">
                    <div class="zone-box" th:each="timeslot : ${timeslots}">
                        <input type="radio" th:value="${timeslot.id_timeslot}"
                               name="timeslotSelected"
                               class="btn-check" th:id="${timeslot.id_timeslot}" autocomplete="off">
                        <label class="btn btn-outline-success" th:for="${timeslot.id_timeslot}" th:text="${timeslot.initialhour}+' - '+${timeslot.finalhour}"></label><br>
                    </div>
                </td>
                <td th:if="${#fields.hasErrors('id_timeslot')}"  class="error" th:errors="*{id_timeslot}"></td>
            </tr>

            <tr>
                <td><label>Zona/s</label></td>
                <td class="check-list-zones" path="zones">
                    <div class="zone-box" th:each="zone : ${zones}">
                        <input type="checkbox" th:value="${zone}"
                               name="zonesList"
                               class="btn-check" th:id="${zone}" autocomplete="off">
                        <label class="btn btn-outline-success" th:for="${zone}" th:text="${zone}"></label><br>
                    </div>
                </td>
                <td th:if="${#fields.hasErrors('QR')}"  class="error" th:errors="*{QR}"></td>

            </tr>

            <tr>
                    <td class="text-center m-5" colspan="2">
                        <input class="btn btn-outline-success btn-add-reservation" type="submit"  value="Añadir reserva"/>
                    </td>
            </tr>
        </table>
    </form>


</div>
</body>
</html>