<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>completed</title>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/nav">...</div>

<div class="contenedor-tablas">

    <div class="info-tablas">
        <h1>Reserva Completada</h1>
    </div>

    <div class="center-margin">
        <div class="half qr">
            <img th:src="${qr}">
        </div>

        <div class="half right ml-3">
            <table class="table">
                <tbody>
                <tr>
                    <th><strong>Nombre: </strong></th>
                    <td><span th:text="${user.name}"></span></td>

                </tr>
                <tr>
                    <th><strong>Fecha: </strong></th>
                    <td><span th:text="${reservation.date}"></span></td>

                </tr>
                <tr>
                    <th><strong>Hora: </strong></th>
                    <td><span th:text="${timeSlotOfReservation.getInicialhour(reservation}}"
                              th:text="-"
                              th:text="${timeSlotOfReservation.getInicialhour(reservation} - {timeSlotOfReservation.getFinalhour(reservation}}"></span></td>

                </tr>
                <tr>
                    <th><strong>Num. personas: </strong></th>
                    <td><span th:text="${reservation.peopleNumber}"></span></td>

                </tr>
                <tr>
                    <th><strong>Area: </strong></th>
                    <td><span th:text="${timeSlotOfReservation.getArea(reservaton)}"></span></td>

                </tr>
                <tr>
                    <th><strong>zonas: </strong></th>
                    <td th:each="zone : ${zones}">
                        <span th:text="${zone}"></span><span> - </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="info-tablas">
<!--        TODO cambiar areaName por TimeSlot.name_a -->
        <a class="btn btn-outline-success btn-volver" th:href="@{/municipality/listPublico)}">Volver</a>
    </div>

</div>
</body>
</html>