<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>completed</title>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/nav">...</div>
<div class="m-4">
<h1>Reserva Completada</h1>

<h3>Reserva completada correctamente para ir a la pagina de inicio pulse el boton de inicio.</h3>
<a href="/" class="btn btn-outline-success">Inicio</a>

</div>
</body>
</html>