<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Añadir nueva reserva</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/nav">...</div>
<div class="add-reservation">
  <h2 class="m-5">Nueva reserva</h2>
  <form action="#" th:action="@{/reservation/add/{area}(area=${areaName})}"
        th:object="${reservation}" method="post">

    <table hidden>
        <td><input  type="date" th:field="*{date}"/></td>
        <td><input  type="text" th:field="*{peopleNumber}"/></td>
        <td><input  type="text" th:field="*{id_timeslot}"/></td>
      <td><input  type="text" th:field="*{NIE_citizen}"/></td>
      <td><input  type="text" th:field="*{status}"/></td>
      <td><input  type="text" th:field="*{QR}"/></td>


    </table>



    <table>

      <tr>
        <td><label>Zona/s</label></td>
        <td class="check-list-zones" path="zones">
          <div class="zone-box" th:each="zone : ${zones}">
            <input type="checkbox" th:value="${zone}"
                   name="zonesList"
                   class="btn-check" th:id="${zone}" autocomplete="off">
            <label class="btn btn-outline-success" th:for="${zone}" th:text="${zone}"></label><br>
          </div>
        </td>
        <td th:if="${#fields.hasErrors('QR')}"  class="error" th:errors="*{QR}"></td>

      </tr>

      <tr>
        <td class="text-center m-5" colspan="2">
          <input class="btn btn-outline-success btn-add-reservation" type="submit"  value="Confirmar reserva"/>
        </td>
      </tr>
    </table>
  </form>

  <div>
    <a class="btn btn-outline-success" th:href="@{/area/add/{name}(name=${areaName})}">Volver</a>
  </div>

</div>
</body>
</html>