<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir nuevo citizen</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou service</h2>
<form action="#" th:action="@{/service/add}"
      th:object="${service}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Type</label></td>
            <td><input type="text" th:field="*{servicetype}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input type="submit" value="Añadir service" /></td>
        </tr>
    </table>
</form>
</body>
</html>
