<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Services</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service: ${services}">
        <td th:text="${service.name}"></td>
        <td th:text="${service.description}"></td>
        <td th:text="${service.servicetype}"></td>
        <td><a th:href="@{/service/update/{name}(name=${service.name})}">Editar</a>
        </td>
        <td><a th:href="@{/service/delete/{name}(name=${service.name})}">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir service</a>
</body>
</html>
