<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <meta charset="UTF-8">
    <title>Añadir Servicio</title>
</head>

<body>

<div th:replace="fragments/nav">...</div>

<div class="add-service">

    <div>
        <h2>Añadir Servicio</h2>
    </div>

    <form class="add-service-form" action="#"
          th:action="@{/service/add/{municipio}/{area}(municipio=${Municipio},area=${Area})}"
          th:object="${servicio}" method="post">

        <div class="service-input">
            <div th:if="${#fields.hasErrors('name_S')}" class="error" th:errors="*{name_S}"></div>

            <div class="check-list-servicio">
                <strong>Servicio:</strong>
                <select class="form_control" type="text" th:field="*{name_S}">
                    <option th:each="service : ${servicios}"
                            th:value="${service.name}"
                            th:text="${service.name}"></option>
                </select>
            </div>
        </div>


        <div class="service-input service-type-wrapper">
            <div th:if="${#fields.hasErrors('servicetype')}" class="error" th:errors="*{servicetype}"></div>

            <div class="service-type">
                <strong>Tipo:</strong>


                <div class="servicio-box">
                    <input type="radio" value="fixed"
                           name="tipoServicio"
                           class="btn-check" id="Fijo" autocomplete="off">
                    <label class="btn btn-outline-success" for="Fijo"
                           th:text="Fijo"></label><br>
                </div>

                <div class="servicio-box">
                    <input type="radio" value="seasonal"
                           name="tipoServicio"
                           class="btn-check" id="Estacional" autocomplete="off">
                    <label class="btn btn-outline-success" for="Estacional"
                           th:text="Estacional"></label><br>
                </div>

            </div>
        </div>


        <div class="service-input">
            <div th:if="${#fields.hasErrors('initialdate')}" class="error" th:errors="*{initialdate}"></div>
            <div class="check-list-servicio">
                <strong>Fecha inicial:</strong>
                <input type="date" th:field="*{initialdate}"/>
            </div>
        </div>


        <div class="service-input">
            <div th:if="${#fields.hasErrors('finaldate')}" class="error" th:errors="*{finaldate}"></div>
            <div class="check-list-servicio">
                <strong>Fecha final:</strong>
                <input type="date" th:field="*{finaldate}"/>
            </div>
        </div>


        <div class="service-input">
            <input class="btn btn-outline-success" type="submit" value="Añadir"/>
        </div>

    </form>

    <div>
        <a class="btn btn-outline-success" th:href="@{/service/list/{municipality}/{name}(municipality=${Municipio},name=${Area})}">Volver</a>
    </div>

</div>

</body>
</html>