<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir nuevo staff area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou staff area relation</h2>
<form action="#" th:action="@{/control_staff_area/add}"
      th:object="${staff_area}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name_a}" /></td>
        </tr>
        <tr>
            <td><label>NIE</label></td>
            <td><input type="text" th:field="*{nie_cs}" /></td>
        </tr>


        <tr>
            <td colspan="2"><input type="submit" value="Añadir control staff area" /></td>
        </tr>
    </table>
</form>
</body>
</html>
