<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Gestionar Schedule</title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h1>Lista de Schedule</h1>
<table>
  <thead>
  <tr>
    <th>Name Service</th>
    <th>Name Area</th>
    <th>Inicial Date</th>
    <th>Final Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="schedule: ${schedules}">
    <td th:text="${schedule.name_s}"></td>
    <td th:text="${schedule.name_a}"></td>
    <td th:text="${schedule.inicialdate}"></td>
    <td th:text="${schedule.finaldate}"></td>

    <td><a th:href="@{/schedule/add/{name_s}/{name_a}/{inicialdate}(name_s=${schedule.name_s}, name_a=${schedule.name_a}, inicialdate=$(schedule.inicialdate)}">Editar</a>
    </td>
    <td><a th:href="@{/schedule/delete/{name_s}/{name_a}/{inicialdate}(name_s=${schedule.name_s}, name_a=${schedule.name_a}, inicialdate=$(schedule.inicialdate)}">Borrar</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="add">Añadir Timeslot</a>
</body>
</html>