<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
    <title>Consulta de Ocupación Temporal</title>
</head>
<body>

<div th:replace="fragments/nav">...</div>
<div class="consulta-wrapper">

    <div class="info-tablas">
        <h1>Ocupación en <span th:text="${area}"></span></h1>
    </div>


    <form action="#" th:action="@{/ocupacion/{area}(area=${area})}" th:object="${area}"
          method="post">
        <div class="consulta-inputs">
            <input type="date" name="date">
            <input type="time" name="hour">
        </div>

        <input class="btn btn-outline-success" type="submit" value="Consultar">
    </form>




        <div th:if="${reservas != null}">
            <div th:if="${reservas.isEmpty()}">
                <h3 >No hay reservas para el prediodo seleccionado</h3>
            </div>

            <div class="consulta-reservation-info" th:if="${!reservas.isEmpty()}">
                <h3 >Hay reservas</h3>
                <div th:each="reserva : ${reservas}">
                    <h4>Numero de gente : <span th:text="*{reserva.peopleNumber}"></span> / <span th:text="${reservationSvc.getCapacityOfArea(area)}"></span> </h4>
                </div>
            </div>
        </div>


    <div class="info-tablas">
        <a class="btn btn-outline-success btn-volver" th:href="@{/area/listMM/{name_A}( name_A=${municipio} )}">Volver</a>
    </div>

</div>


</body>
</html>