<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <meta charset="UTF-8">
    <title>Municipalities</title>
</head>

<body>


<div th:replace="fragments/nav">...</div>

<div class="contenedor-tablas">

    <div class="info-tablas">
        <h1>Municipios</h1>
    </div>


    <div class="info-tablas center-tablas">
        <table class="table table-sm">
            <thead>
            <tr class="table-secondary">
                <th>Name</th>
                <th>Tlf</th>
                <th>Address</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="municipality: ${municipalitiesPublico}">

                <td class="table-success" th:text="${municipality.name}"></td>
                <td class="table-success" th:text="${municipality.tlf}"></td>
                <td class="table-success" th:text="${municipality.address}"></td>

                <td class="table-secondary">
                    <a class="btn btn-outline-success"
                       th:href="@{/area/listEM/{name}(name=${municipality.name})}">Consultar</a>
                </td>
                <td class="table-secondary">
                    <a class="btn btn-outline-success"
                       th:href="@{/municipality/delete/{name}(name=${municipality.name})}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="info-tablas btn-group-sana">
        <a class="btn btn-outline-success btn-volver" href="/admin">Volver</a>
        <a class="btn btn-outline-success btn-volver" href="/municipality/add">Añadir municipio</a>
    </div>

</div>

</body>
</html>