<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Municipios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Lista de Municipios</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Tlf</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="municipality: ${municipalities}">
        <td th:text="${municipality.name}"></td>
        <td th:text="${municipality.tlf}"></td>
        <td th:text="${municipality.address}"></td>

        <td><a th:href="@{/municipality/update/{name}(name=${municipality.name})}">Editar</a>
        </td>
        <td><a th:href="@{/municipality/delete/{name}(name=${municipality.name})}">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Añadir municipality</a>
</body>
</html>