<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar citizen</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Modificar citizen</h2>
<form action="#" th:action="@{/citizen/update}"
      th:object="${citizen}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>NIE</label></td>
            <td><input type="text" th:field="*{NIE}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:field="*{address}" /></td>
        </tr>
        <tr>
            <td><label>Town</label></td>
            <td><input type="text" th:field="*{town}" /></td>
        </tr>
        <tr>
            <td><label>Country</label></td>
            <td><input type="text" th:field="*{country}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Modificar citizen" /></td>
        </tr>
    </table>
</form>
</body>
</html>
