<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <meta charset="UTF-8">
    <title>Registro</title>
</head>

<body>


    <div th:replace="fragments/nav">...</div>

    <div class="login-wrapper">
        <div class="login-container">

            <div class="info-tablas">
                <h1>Crear Cuenta</h1>
            </div>


            <form class="login-form" action="#" th:action="@{/register}"
                  th:object="${citizen}" method="post">

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('name')}" class="error" th:errors="*{name}"></p>
                    <p>
                        <strong>Nombre:</strong>
                        <input name="name" class="form_control" type="text"/>
                    </p>
                </div>

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('NIE')}" class="error" th:errors="*{NIE}"></p>
                    <p>
                        <strong>DNI:</strong>
                        <input name="dni" class="form_control" type="text"/>
                    </p>
                </div>

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}"></p>
                    <p>
                        <strong>E-mail:</strong>
                        <input class="form_control" type="text" th:field="*{email}"/>
                    </p>
                </div>

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('address')}" class="error" th:errors="*{address}"></p>
                    <p>
                        <strong>Direccion:</strong>
                        <input class="form_control" type="text" th:field="*{address}"/>
                    </p>
                </div>

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('town')}" class="error" th:errors="*{town}"></p>
                    <p>
                        <strong>Ciudad:</strong>
                        <input class="form_control" type="text" th:field="*{town}"/>
                    </p>
                </div>

                <div class="register-input">
                    <p th:if="${#fields.hasErrors('country')}" class="error" th:errors="*{country}"></p>
                    <p>
                        <strong>País:</strong>
                        <input class="form_control" type="text" th:field="*{country}"/>
                    </p>
                </div>


                <input class="btn btn-outline-success" type="submit" value="Registrarse"/>


            </form>

            <div class="info-tablas register-submit">
                <p class="gris">*Tu usuario y contraseña serán enviados al correo proporcionado*</p>
                <a class="btn btn-outline-success" th:href="@{/login}">Volver</a>
            </div>



        </div>



    </div>




</body>
</html>