
/*  General para todos */
.a1{
    color: white;
    text-decoration: none;
}

.btn-outline-success{
    background-color: white;

}

.enlace{
    color:#3b7058
}

.error {
    color: red;
}

.boton{
    width: 200px;
}

.center-margin{
    display: flex;
    margin: 40px 15% !important;
}

.horizontal-links{
    display: flex;
    justify-content: space-between;
    margin: 10px 10%;
}



.puntitos {
    display: flex;
}
.puntitos span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: #3b705842;
    margin-bottom: 20px;
}
.puntitos .actual{
    background-color: #3b7058;
    margin-right: 12px;
}

/*  index */
.contenedor-index{
    margin: 50px 70px;
    display: flex;
    justify-content:space-around;
}

.info-index{
    flex:6;
    overflow: scroll;
    height: 500px;
    width: 700px;
}

.home-cv{
    flex: 4;
    width:40%;
}

.home-cv img{
    width:100%;
}

/*  navegacion */

.navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #3B7058;
}

.logo{
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.nav-content{
    color:white;
    font-size:25px;
    position: absolute;
    right:10px;
    top: 60px;}


/*  login */
.login-wrapper{
    display: flex;
    justify-content: center;
}

.login-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
}



.login-form{
    margin-top: 50px;
    text-align:center;
    border: #3b7058 2px solid;
    padding: 40px;
}

.login-form p{

    text-align: end;
}


/*  publico */
.publico-container{
    margin-top: 12%;
    display: flex;
    justify-content: space-evenly;
}

.publico-item{
    width: 20%;
    position: relative;
    overflow: hidden;
    border: #3b7058 5px solid;

}

.publico-imagen{
    transition: all 0.5s;
}

.publico-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;

    background: rgba(192,192,192,0.4);
    color: #000000;

    transform: translateY(100%);
    transition: all 0.5s ease-out;

    text-align: center;

}

.publico-img img{
    width: 100%;
    height:300px;
    padding: 10%;

}

.publico-item:hover .publico-text{
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%)

}

.publico-item:hover .publico-imagen{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}




/*  tablas*/
.half{
    width:50%;
}
.contenedor-tablas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-tablas{
    margin-top: 30px;
    text-align:center;
}

.info_tablas a{
    color: #3b7058 ;
}

.info-tablas h1{
    color:#3b7058;
}

.table-button{
    width:20%;
}

.center-tablas{
    display:flex;
    justify-content: center;
}

.center-tablas table{
    width:70%;
}

/*  Area informacion  */
.info-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10%;
}

.area-info-columns{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.area-info-column .table th,
.area-info-column .table td{
    border-top: 1px solid #3b705891;
}

.area-info-column{
    width: 50%;
    max-height: 460px;
}

.area-info-columns .right{

    overflow: auto;

}

.title-area{
    margin: 20px;
    color: #3b7058;
}

.info-area a{

    margin-top: 15px;
    align-self: flex-end;
}

.area-img{
    width: 100%;
        max-height: 470px;
}

.link-reserve-btn{
    align-self: center !important;
}

/*  hacer reserva  */

.add-reservation{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.add-reservation h2 {
    color: #3b7058;
}
.add-reservation form {
    padding: 30px;
    border: 3px solid #3b7058;
    width:50%;
    margin-bottom: 30px;
}

.add-reservation form table {
    height: 100%;
}

.add-reservation btn-add-reservation{
    height: 50px;
    width: 40%;
}

.check-list-zones{
    display: flex;
    flex-wrap: wrap;
}

.zone-box{
    margin-right:7px;
    margin-top:7px;
}

.qr{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  añadir servicio */

.contenedor-selectType{

    display: flex;
    flex-flow: column;
    align-items: center;

}
.contenedor-selectType items{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.contenedor-selectType h2{
    color: #3b7058;
}

.contenedor-selectType form{
    padding: 30px;
    border: 3px solid #3b7058;
    width:30%;
    margin-bottom: 30px;
}


.check-list-servicio{
    display: flex;
    flex-wrap: wrap;
}

.servicio-box{
    margin-right:7px;
    margin-top:7px;
}

