<div class="navegacion" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="nav-content" th:object="${session}">
        <p th:if="*{user == null}">
            No autenticado | <a class="a1" href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{user == null}">
            Hola, <span th:text="*{user.username}"></span>

            <a th:if="*{tipo == 0}" class="a1" href="/publico" th:href="@{/publico}">| Menu</a>
            <a th:if="*{tipo == 2}" class="a1" th:href="@{/area/listMM/{municipality}(municipality=*{municipio})}">| Gestion</a>
            <a th:if="*{tipo == 3}" class="a1" th:href="@{/admin}">| Gestion</a>

            <a class="a1" href="/logout" th:href="@{/logout}"> | Salir</a>





        </p>
    </div>


    <div>
        <a href="/">

            <img  class="logo" src="/logo3.PNG">

        </a>
    </div>




</div>