<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir nuevo timeslot</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>

<div th:replace="fragments/nav" >...</div>

<div class="add-reservation info-tablas">
    <h1>Nuevo TimeSlot</h1>
    <form class="form-regular" action="#" th:action="@{/timeslot/add/{area}(area=${name_a})}"
          th:object="${timeslot}" method="post">
        <table>

            <tr>
                <td><strong>Hora inicial:</strong></td>
                <td><input type="time" th:field="*{initialhour}"/></td>
                <td th:if="${#fields.hasErrors('initialhour')}" class="error"
                    th:errors="*{initialhour}"></td>
            </tr>
            <tr>
                <td><strong>Hora final:</strong></td>
                <td><input type="time" th:field="*{finalhour}"/></td>
                <td th:if="${#fields.hasErrors('finalhour')}" class="error"
                    th:errors="*{finalhour}"></td>
            </tr>
            <tr>
                <td><strong>Estación:</strong></td>
                <td><select class="form_control" type="text"
                            th:class="${#fields.hasErrors('season')} ? needcorrection" th:field="*{season}">
                    <option value="Verano">Verano</option>
                    <option value="Invierno">Invierno</option>
                    <option value="Otoño">Otoño</option>
                    <option value="Primavera">Primavera</option>
                </select>
                </td>

            </tr>
            <tr>
                <td colspan="2"><input class="btn btn-outline-success" type="submit" value="Añadir Timeslot"/></td>
            </tr>
        </table>
    </form>
    <div>
        <a class="btn btn-outline-success" th:href="@{/timeslot/list/{area}(area=${name_a})}">Volver</a>
    </div>
</div>
</body>
</html>
