<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir nueva area</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

</head>
<body>
<div th:replace="fragments/nav" >...</div>

<div class = "container-add-area info-tablas">
<h1>Nueva area</h1>
<form action="#" th:action="@{/area/add/{name}(name=${nameMunicipality})}"
      th:object="${area}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Num. de zonas</label></td>
            <td><input type="text" th:field="*{numberOfZone}" /></td>
        </tr>
        <tr>
            <td><label>Tipo de acceso</label></td>
            <td><input type="text" th:field="*{accessType}" /></td>
        </tr>
        <tr>
            <td><label>Localización</label></td>
            <td><input type="text" th:field="*{geographicalLocation}" /></td>
        </tr>
        <tr>
            <td><label>Tipo de área</label></td>
            <td><input type="text" th:field="*{areaType}" /></td>
        </tr>
        <tr>
            <td><label>Características físicas</label></td>
            <td><input type="text" th:field="*{physiscalCharacteristic}" /></td>
        </tr>
        <tr>
            <td><label>Orientación</label></td>
            <td><input type="text" th:field="*{orientation}" /></td>
        </tr>
        <tr>
            <td><label>Facilidades</label></td>
            <td><input type="text" th:field="*{facility}" /></td>
        </tr>
        <tr>
            <td><label>Comentario</label></td>
            <td><input type="text" th:field="*{comment}" /></td>
        </tr>
        <tr>
            <td><label>Url de imagen</label></td>
            <td><input type="text" th:field="*{image}" /></td>
        </tr>

        <tr>
            <td colspan="2"><input class = "btn btn-outline-success" type="submit" value="Añadir area" /></td>
        </tr>
    </table>
</form>

</div>
</body>
</html>