<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <meta charset="UTF-8">
    <title>Areas público</title>
</head>
<body>

<div th:replace="fragments/nav">...</div>

<div class="contenedor-tablas">

    <div class="info-tablas">
        <h1 >Lista de areas de <span th:text="*{municipalityPublico}"></span></h1>
    </div>

    <div class="info-tablas" th:if="${#lists.isEmpty(areasPublico)}">
        <h3>Este municipio no tiene areas añadidas</h3>
    </div>

    <div class="info-tablas center-tablas">
        <table  class="table table-sm" th:unless="${#lists.isEmpty(areasPublico)}">

            <thead>
                <tr class="table-secondary">
                    <th>Áreas</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="area: ${areasPublico}">
                    <td class="table-success" th:text="${area.name}"></td>
                    <td class="table-secondary table-button" >
                        <a class="btn btn-outline-success" th:href="@{/area/informacion/{name}(name=${area.name})}">Informacion</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div class="info-tablas">
        <a class="btn btn-outline-success btn-volver" href="/municipality/listPublico">Volver</a>
    </div>


</div>



</body>
</html>