<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>

    <meta charset="UTF-8">
    <title>Áreas</title>
</head>
<body>

    <div th:replace="fragments/nav" >...</div>

    <div class="contenedor-tablas">

        <div class="info-tablas">
            <h1>Lista de areas de <span th:text="*{municipalityMM}"></span></h1>
        </div>

        <div th:if="${#lists.isEmpty(areasMM)}"class="info-tablas">
            Este municipio no tiene areas añadidas
        </div>

        <div class="info-tablas center-tablas">
            <table th:unless="${#lists.isEmpty(areasMM)}"class="table table-sm">


                <thead>
                <tr class="table-secondary">
                    <th>Areas</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="area: ${areasMM}">
                    <td class="table-success" th:text="${area.name}"></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:href="@{/area/update/{municipality}/{nameArea}(municipality=${municipalityMM},nameArea=${area.name})}">Modificar</a></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:href="@{/service/list/{municipality}/{name}(municipality=${municipalityMM},name=${area.name})}">Servicios</a></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:if="${area.getAccessType() == 'restricted'}" th:href="@{/reservation/list/{municipality}/{area}(municipality=${municipalityMM},area=${area.name})}">Reservas</a></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:href="@{/timeslot/list/{municipio}/{area}(municipio=${municipalityMM},area=${area.name} )}">Horarios</a></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:href="@{/ocupacion/{municipio}/{area}(municipio=${municipalityMM},area=${area.name} )}">Ocupación</a></td>
                    <td class="table-secondary"> <a class="btn btn-outline-success" th:href="@{/zone/add/{Municipio}/{name}(Municipio=${municipalityMM},name=${area.name})}">Zonas</a></td>
                </tr>

                </tbody>
            </table>

        </div>

        <a class="btn btn-outline-success btn-add-area" th:href="@{/area/add/{name}(name=${municipalityMM})}">Añadir area</a>



    </div>

</body>
</html>