<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar area</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/SANA.css" th:href="@{/css/SANA.css}"/>
</head>
<body>

<div th:replace="fragments/nav">...</div>
<div class="contenedor-tablas">

    <div class="info-tablas">
        <h1>Modificar area</h1>
    </div>

    <div class="info-tablas center-tablas">
        <form class="update-area-mm" action="#" th:action="@{/area/update/{name}(name=${municipality})}"
              th:object="${area}" method="post">
            <table class="table table-sm">
                <tr>
                    <td><strong>Nombre:</strong></td>
                    <td><input disabled type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td><strong>Descripcion:</strong></td>
                    <td><input type="text" th:field="*{description}"/></td>
                </tr>
                <tr>
                    <td><strong>Número de Zonas:</strong></td>
                    <td><input type="text" th:field="*{numberOfZone}"/></td>
                </tr>
                <tr>
                    <td><strong>Tipo de acceso:</strong></td>
                    <td><input type="text" th:field="*{accessType}"/></td>
                </tr>
                <tr>
                    <td><strong>Localización Geográfica:</strong></td>
                    <td><input type="text" th:field="*{geographicalLocation}"/></td>
                </tr>
                <tr>
                    <td><strong>Tipo de área: </strong></td>
                    <td><input type="text" th:field="*{areaType}"/></td>
                </tr>
                <tr>
                    <td><strong>Características físicas:</strong></td>
                    <td><input type="text" th:field="*{physiscalCharacteristic}"/></td>
                </tr>
                <tr>
                    <td><strong>Orientación:</strong></td>
                    <td><input type="text" th:field="*{orientation}"/></td>
                </tr>
                <tr>
                    <td><strong>Facilidad:</strong></td>
                    <td><input type="text" th:field="*{facility}"/></td>
                </tr>
                <tr>
                    <td><strong>Comentarios:</strong></td>
                    <td><input type="text" th:field="*{comment}"/></td>
                </tr>
                <tr>
                    <td><strong>Imagen:</strong></td>
                    <td><input type="text" th:field="*{image}"/></td>
                </tr>
                <tr>
                    <td><strong>Municipio:</strong></td>
                    <td><input disabled type="text" th:field="*{name_M}"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input  class="btn btn-outline-success on-submit" type="submit" value="Actualizar Área"/></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="info-tablas">
        <a class="btn btn-outline-success" th:href="@{/area/listMM/{name}(name=${municipality})}">Volver</a>
    </div>


</div>

</body>
</html>